.mainBlock {
    height: 100vh;
    background-color: #eabcbc;
}



.text {
    width: 400px;
    background-color: #ece3e3;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #ece3e3;
}