.jobsBlock {
    min-height: 100vh;
    background-color: #a9a5ce;
}

.jobsContainer {
    flex-direction: column;
}

.title {
    background-color: #b6b7b4;
}

.jobs {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}