@import "../../../common/styles/sass/variables";

.burgerNav {
  width: 100%;
  height: 100%;

  .burgerNavItems {
    text-align: center;
    background-color: $bgColor;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    flex-wrap: nowrap;
    transform: translate(0, -150px);
    transition: 0.3s;

    a {
      text-transform: uppercase;
      color: $lightColor;
      transition: 0.4s;
      font-size: 13px;
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
      cursor: pointer;
    }

    a:last-child {
      margin-right: 0;
    }

    a:hover {
      color: $primaryColor;
    }

    .active {
      color: $primaryColor;
    }
  }

  .show {
    transform: translate(0, 0);
    height: 150px;
  }

  .burgerBtn {
    width: 30px;
    height: 30px;
    background-color: $primaryColor;
    position: absolute;
    top: 24px;
    right: 0;
  }

  @media screen and (min-width: 750px) {
    display: none;
  }
}