.footerBlock {
    background-color: #e7fdde;
}

.footerContainer {
    display: flex;
    flex-direction: column;
}

.name {
    background-color: #b9b9b9;
}

.boxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #c4c4c4;
}

.footerCopyright {
    background-color: #b9b9b9;
}