@import "../../common/styles/sass/variables";

.header {
    height: 80px;
    width: 100%;
    background-color: rgba(33, 36, 40, 0.96);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 2;

    .headerContainer {
        position: relative;

        .logo {
            position: absolute;
            top: 10px;
            left: 0;
        }
    }
}